{% extends "layout.twig" %}
{% block main %}
	<section class="main">
		<section id="contact" class="contact">
			<div class="overlay">
				<div class="contact__container">
					<div class="contact__data">
						<div class="contact__data--container">
							<h2>{{name}}</h2>
							<h3>{{profession}}</h3>
							<ul>
								<li>
									Email:
									{{email}}
								</li>
								<li>
									Phone:
									{{phone}}
								</li>
								<li>
									LinkedIn:
									{{linkedin}}
								</li>
								<li>
									Location:
									{{location}}
								</li>
							</ul>
						</div>
					</div>
					<div class="contact__image">
						<div class="contact__image--container">
							<img src='{{profilePicture}}' alt='{{name}}'/>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="perfil" class="perfil">
			<div class="overlay">
				<div class="perfil__container">
					<div class="perfil__title">
						<h2>Perfil</h2>
					</div>
					<div class="perfil__description">
						<p>
							{{profileDescription}}
						</p>
					</div>
					<div class="perfil__experience">
						{% for job in jobs %}
							{% if job.visible == false %}
								{{continue}}
							{% endif %}
							<div class="card">
								<div class="card__image">
									<img src='./assets/static/{{job.picture}}' alt='{{job.picture}}'/>
								</div>
								<div class="card__description">
									<h3>{{job.title}}</h3>
									<p>{{job.company}}</p>
								</div>
								<div class="card__details">
									<h3>{{job.getDurationAsString()}}</h3>
									<h4>Funciones:</h4>
									<ul>
										<li>{{job.function1}}</li>
										<li>{{job.function2}}</li>
										<li>{{job.function3}}</li>
									</ul>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
		<section id="projects" class="projects">
			<div class="overlay">
				<div class="projects__container">
					<div class="projects__title">
						<h2>Projects</h2>
					</div>
					<div class="projects__experience">
						{% for project in projects %}
							{% if job.visible == false %}
								{{continue}}
							{% endif %}
							<div class="card2">
								<div class="card2__image">
									<img src='./assets/static/{{project.picture}}' alt='{{project.picture}}'/>
								</div>
								<div class="card2__description">
									<div class="card2__description--container">
										<h3>{{project.title}}</h3>
										<p>{{project.company}}</p>
										<button class="btn">Ver</button>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</section>
</html>{% endblock %}
